html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  text-align: center;
  line-height: 1.5;
  display: inline;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

li {
  font-size: 1.125rem;
  display: inline;
  border-left: 1px solid #a63f38;
  border-top: 1px solid #a63f38;
  border-bottom: 1px solid #a63f38;
  padding: .5em 0 0;
}

ul {
  list-style-type: none;
  display: inline;

}

a {
  text-decoration: none;
  color: #fff;
}

header {
  margin: 0;
  padding: 0;
}

img {
  width: 40px;
  margin-top: 1em;
}

body {
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav {
  clear: both;
}

div {
  padding-bottom: 4em;
  background-color: #d05c2e;
}
