html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  text-align: center;
  line-height: 1.5;
  display: inline;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin-top: -.5em;
  padding-top: .5em;
}

li {
  font-size: 1.125rem;
  display: inline;
  border-left: 1px solid #a63f38;
  border-top: 1px solid #a63f38;
  border-bottom: 1px solid #a63f38;
  padding: .5em 0 0;
  width: 30%;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 40px;
  margin-top: 1em;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav {
  margin-top: -.5em;
}

div {
  padding-bottom: 1em;
  background-color: #d05c2e;
}

body {
  margin: 0;
  padding: 0;
}

ul li a:hover {
  background-color: #a63f38;
}
