html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

li {
  font-size: 1.125rem;
  display: inline;
  border: 1px solid #a63f38;
  padding: .5em 0 0;
  float: left;
  width: 32%;
}

ul {
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
  color: #fff;
  width: 100%;
}

div {
  background-color: #d05c2e;
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
}

img {
  width: 40px;
}

body {
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}
